.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transition */
}

.food-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px #b4555525;
}


.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}

.food-item-info-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  color: #0e0e0e;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 90px;
}

.food-item-desc {
  margin-top: 5px;
  color: #0e3f42;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  overflow-wrap: break-word;
}

.food-item-price {
  color: #78a8d9;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0px;
}

.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
}

.view-item-btn {
  background-color: #4da4cf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.view-item-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
