/* index.css */

/* Light theme styles (default) */
body {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  /* Other dark mode specific styles */
  .app.dark {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  /* Navbar styles */
  .navbar.dark {
    background-color: #1e1e1e;
    color: #e0e0e0;
  }
  
  .navbar.dark .nav-link {
    color: #e0e0e0;
  }
  
  .navbar.dark .nav-link:hover {
    color: #b0b0b0;
  }
  